.header {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 9999;
}

.header-bg {
    background-color: rgba(0,0,0,0.85);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 0 15px;
}

.nav-menu .nav-link {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;

   
}

.nav-menu .nav-link:hover,
.active {
    color: var(--color-primary) !important;
}

.hamburger {
    display: none;
}

